* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	border: 0;
	background-color: inherit;
	color: inherit;
}

img {
	width: 100%;
}