.ad {
	width: 100%;
	display: flex;
	background-color:var(--subscribe-color);
	flex-direction: column;
	justify-items: center;
	align-items: center;
	gap: var(--gap-size);
	margin: var(--gap-size) 0;
}

.ad__first-section{
	display: flex;
	width: 100%;
	background-color:var(--tertiary-color);
	align-items: center;
	justify-content: center;
	aspect-ratio: 4/3;
}
.ad__filler-text{
	color:#fff;
	text-align: center;
	
}
 @media screen and (min-width: 992px){
	.ad {
		gap: var(--gap-size);
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		background-color: var(--subscribe-color);
		
	}

	.ad__first-section {
		width: 100%;
		background-color:var(--tertiary-color);
	}

} 