.body__article {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--gap-size);
	margin: 0.5rem;
}

.filter-button--article {
	border: 0.5px solid var(--secondary-color);
}

.filter-button--article:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.article__container {
	grid-column: 1/13;
}

.article__headline {
	font-family: var(--large-font-family);
	font-size: var(--large-font-size);
	font-weight: var(--large-font-weight);
	line-height: var(--large-line-height);
}

.article__h3 {
	font-size: var(--body-font-size);
	font-family: var(--primary-font-family);
	font-weight: 400;
	margin-top: 2rem;
}

.article__image {
	margin: 2rem auto;
}

.article__figcaption {
	font-size: var(--small-font-size);
	margin-top: 0.5rem;
}

.article__paragraphs:not(:first-of-type) {
	text-indent: 3rem;
}

.article__paragraphs:nth-of-type(3) {
	text-indent: 0;
}

.article__paragraphs:last-of-type {
	margin-bottom: 2rem;
}


@media screen and (min-width: 992px) {

	.article__about {
		margin: 1rem auto;
		padding: 1rem 0;
		border-top: 1px solid;
		border-bottom: 1px solid;
	}

	.article__container {
		gap: 0;
	}
}