.body__article {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--gap-size);
	margin: 0.5rem;
}

.article__container {
	grid-column: 1/13;
}

.article__headline {
	font-family: var(--large-font-family);
	font-size: var(--large-font-size);
	font-weight: var(--large-font-weight);
	line-height: var(--large-line-height);
}

.article__h3 {
	font-size: var(--body-font-size);
	font-family: var(--primary-font-family);
	margin-top: 2rem;
}

.article__images {
	width: 100%;
}

.article__figcaption {
	font-size: var(--small-font-size);
	margin-top: 0.5rem;
}

.article__paragraphs:not(:first-of-type) {
	text-indent: 3rem;
}

.article__paragraphs:nth-of-type(3) {
	text-indent: 0;
}

.article__paragraphs:last-of-type {
	margin-bottom: 2rem;
}

.header__search-icon--inverted, .header__burger-menu--inverted {
	filter: invert();
}

/* Grid fungerer ikke helt som den skal, kun med .article__container */
@media screen and (min-width: 992px) {

	.article__container,
	.article__image--first {
		grid-column: 4/13;
	}

	.article__headline, 
	.article__image--second,
	.article__h3 {
		grid-column: 5/12;
	}

	.article__paragraphs {
		grid-column: 5/8;
	}

	.article__about {
		margin: 1rem auto;
		padding: 1rem 0;
		border-top: 0.01rem solid;
		border-bottom: 0.01rem solid;
	}

}





