main, header {
	grid-column: 1/13;
}

@media screen and (min-width: 992px) {
	main {
		grid-column: 4/13;
	}
	header, aside {
		grid-column: 1/4;
	} 
}
body {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--gap-size);
	margin: 0.5rem;
}

@media screen and (min-width: 992px){
	.articles {
			display: grid;
			grid-template-columns: repeat(9, 1fr);
			gap: var(--gap-size);
			grid-column: 4/13;
		}

		.grid {
			display: grid;
			gap: var(--gap-size);
		}

		.grid__left {
			grid-template-columns: repeat(5, 1fr);
		}

		.grid__right {
			grid-template-columns: repeat(4, 1fr);
		}

		.grid__column-start--1 {
			grid-column-start: 1;
		}
	
		.grid__column-start--2 {
			grid-column-start: 2;
		}
	
		.grid__column-start--3 {
			grid-column-start: 3;
		}
	
		.grid__column-start--4 {
			grid-column-start: 4;
		}
	
		.grid__column-start--5 {
			grid-column-start: 5;
		}
	
		.grid__column-start--6 {
			grid-column-start: 6;
		}
	
		.grid__column-start--7 {
			grid-column-start: 7;
		}
	
		.grid__column-start--8 {
			grid-column-start: 8;
		}
	
		.grid__column-start--9 {
			grid-column-start: 9;
		}
	
		.grid__column-start--10 {
			grid-column-start: 10;
		}
	
		.grid__column-start--11 {
			grid-column-start: 11;
		}
	
		.grid__column-start--12 {
			grid-column-start: 12;
		}
	
	
		.grid__column-end--1 {
			grid-column-end: 1;
		}
	
		.grid__column-end--2 {
			grid-column-end: 2;
		}
	
		.grid__column-end--3 {
			grid-column-end: 3;
		}
	
		.grid__column-end--4 {
			grid-column-end: 4;
		}
	
		.grid__column-end--5 {
			grid-column-end: 5;
		}
	
		.grid__column-end--6 {
			grid-column-end: 6;
		}
	
		.grid__column-end--7 {
			grid-column-end: 7;
		}
	
		.grid__column-end--8 {
			grid-column-end: 8;
		}
	
		.grid__column-end--9 {
			grid-column-end: 9;
		}
	
		.grid__column-end--10 {
			grid-column-end: 10;
		}
	
		.grid__column-end--11 {
			grid-column-end: 11;
		}
	
		.grid__column-end--12 {
			grid-column-end: 12;
		}
	
		.order-1 {
			order: 1;
		}
	
		.order-2 {
			order: 2;
		}
	
		.order-3 {
			order: 3;
		}
	
		.order-4 {
			order: 4;
		}
	
		.order-5 {
			order: 5;
		}
}