.header__section {
	text-align: center;
}

.header__flex-container {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0;
}

.header__heading {
	font-family: var(--large-font-family);
	font-size: var(--large-font-size);
	font-weight: var(--large-font-weight);
	line-height: var(--large-line-height);
}

.header__icons {
	display: flex;
	align-items: center;
	gap: var(--gap-size);
}

.header__logo {
	width: 100%;
}

.logo__hover--true {
	display: none;
}


@media screen and (min-width: 992px) {
	.header__icons {
		display: none;
	}

	.logo__hover--true {
		display: none;
	}

	.header__logo:hover > .logo__hover--false {
		display: none;
	}

	.header__logo:hover > .logo__hover--true {
		display: block;
	}

}