/* Styling mobile version */
.information__image {
	width: 100%;
}

.information__headline {
	margin: 2rem 0 2rem 0;
}

.information__headline {
	font-family: var(--large-font-family);
	font-size: var(--large-font-size);
	font-weight: var(--large-font-weight);
	line-height: var(--large-line-height);
}

.information__article-top {
	font-family: var(--large-font-family);
	font-size: var(--large-font-size);
	font-weight: var(--large-font-weight);
	line-height: var(--large-line-height);
}

.information__article-bottom {
	font-family: var(--primar-font-family);
	font-size: var(--body-font-size);
	letter-spacing: var(--body-letter-spacing);
	gap: 0;
}

.information__article-top {
	margin: 2rem 0 2rem 0;
}

@media screen and (min-width: 992px) {
	.information__container {
		grid-column: 4/12;
	}
}