.navigation__menu-container {
	/* width: 100vw */
	position: relative;
	display: none;
}

.navigation__mobile-menu {
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 2em;
	padding-right: 1em;
	width: 100vw;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
	background-color: var(--secondary-color);
	height: 100vh;

}

.navigation__mobile-menu-item {
	list-style: none;
	text-align: right;
}

.navigation__mobile-menu-item a {
	text-decoration: none;
	color: var(--primary-color);
	font-family: var(--large-font-family);
	font-size: var(--large-font-size);
}

.navigation__close-icon {
	display: none;
	margin-right: 0.6em;
}
