.navigation__mobile-sticky {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 4;
	background-color: var(--secondary-color);
	padding-right: 1em;
}
.navigation__mobile-color{
	background-color: var(--primary-color);
}

.navigation__menu-container {
	position: relative;
	display: none;
}

.navigation__mobile-menu {
	position: absolute;
	top: 0;
	padding-top: 2em;
	width: 100vw;
	z-index: 5;
	background-color: var(--secondary-color);
	height: 100vh;

}
.navigation__mobile-munu-black{
	background-color: var(--primary-color);
}

.navigation__mobile-menu-item {
	list-style: none;
	text-align: left;
}

.navigation__mobile-menu-item a {
	text-decoration: none;
	color: var(--primary-color);
	font-family: var(--large-font-family);
	font-size: var(--large-font-size);
}
.navigation__mobil-menu-white a {
	color: var(--secondary-color);
}

.navigation__close-icon {
	display: none;
	margin-right: 0.6em;
}
