.navigation__menu-container {
	width: 23rem;
	position: relative;
}

.navigation__mobile-menu {
	position: absolute;
	right: 0;
	top: 3em;
	width: 23rem;
	left: 50%;
	transform: translateX(-50%);
}

.navigation__mobile-menu-item {
	list-style: none;
	text-align: right;
}

.navigation__mobile-menu-item a {
	text-decoration: none;
	color: var(--primary-color);
	font-family: var(--large-font-family);
	font-size: var(--large-font-size);
}

.navigation__close-icon {
	position: absolute;
	right: 0;
	top: 0.2em;
}
