/* Styling  */
.articles__image {
	width: 100%;
	position: relative;
}

.articles__overlay {
	position: absolute;
	opacity: 90%;
	color: #fff;
	background: #000;
	width: 90%;
	padding: 0.5rem 0 0.5rem 1rem;
	top: 2.5rem;
}

.overlay-top {
	font-family: var(--primary-font-family);
	font-size: var(--body-font-size);
}

.overlay-bottom {
	font-family: var(--large-font-family);
	/* font-size: var(--large-font-size); */
	font-size: 1.5rem;
}

@media screen and (min-width: 480px) {
	.articles__overlay {
		display: none;
	}

	

}