/* Styling  */
.articles__image {
	width: 100%;
	position: relative;
}

.articles__overlay {
	position: absolute;
	opacity: 80%;
	color: #fff;
	background: #000;
	width: 100%;
	padding: 0.5rem 0 0.5rem 1rem;
	top: 0;;
}

.overlay-top {
	font-family: var(--primary-font-family);
	font-size: var(--body-font-size);
}

.overlay-bottom {
	font-family: var(--large-font-family);
	/* font-size: var(--large-font-size); */
	font-size: 1.5rem;
}

@media screen and (min-width: 992px) {
	.articles__overlay {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: 0.2s ease;
		background: #000;
	}

	.articles__image:hover .articles__overlay {
		opacity: 1;
	}

	.overlay-top {
		width: 100%;
	}

	.overlay-bottom {
		width: 50%;
	}

}
