/* Class toggled with Javascript */
.search__input--visible {
	transform: scaleX(1);
}

.search__icon-content {
	width: 7rem;
	transform: scaleX(0);
	border-bottom: solid var(--search-line) 3px;
	transform-origin: bottom right;
	transition: transform 0.5s ease;
}

.dark-mode {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border-bottom: solid #fff 3px;
}